services:
  nginx:
    image: nginx:1.25-alpine
    ports:
      - "80:80"
    volumes:
      - ./:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
    networks:
      - laravel

  php:
    build:
      context: .
      dockerfile: docker/php/php.dockerfile
    user: "${UID}:${GID}"

    volumes:
      - ./:/var/www/html
      - ./docker/php/php-overrides.ini:/usr/local/etc/php/conf.d/php-overrides.ini

    networks:
      - laravel
  mysql:
    image: mysql:8.0.38-debian
    environment:
      MYSQL_DATABASE: "${DB_DATABASE}"
      MYSQL_USER: "${DB_USERNAME}"
      MYSQL_PASSWORD: "${DB_PASSWORD}"
      MYSQL_ROOT_PASSWORD: "${DB_PASSWORD}"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - laravel

  composer:
    build:
      context: .
      dockerfile: docker/composer/composer.dockerfile
    user: "${UID}:${GID}"
    volumes:
      - ./:/var/www/html
    working_dir: /var/www/html

volumes:
  db_data:

networks:
  laravel:
    driver: bridge
